Repository withastro/adapters, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸš¨ action, pkg: cloudflare, pkg: netlify

[ci] release (#11233)
  CHANGELOG.md
  package.json
Labels: none

[ci] release (#11233)
  packages/node/CHANGELOG.md
  packages/node/package.json
Labels: none

fix(cloudflare): astro:env getSecret
  packages/cloudflare/src/entrypoints/server.ts
Labels: pkg: cloudflare

chore: add changeset
  .changeset/lemon-seas-sip.md
Labels: none

feat: setup rollup
  packages/cloudflare/src/entrypoints/server.ts
  packages/cloudflare/src/index.ts
Labels: pkg: cloudflare

feat: tests
  packages/cloudflare/test/astro-env.test.js
  packages/cloudflare/test/fixtures/astro-env/astro.config.ts
  packages/cloudflare/test/fixtures/astro-env/src/pages/index.astro
Labels: pkg: cloudflare

chore: bump deps
  packages/cloudflare/test/fixtures/astro-env/package.json
  pnpm-lock.yaml
Labels: pkg: cloudflare

Update min supported astro version
  packages/cloudflare/package.json
  pnpm-lock.yaml
Labels: pkg: cloudflare

Remove deprecated option
  packages/cloudflare/src/index.ts
  packages/cloudflare/src/utils/cloudflare-module-loader.ts
Labels: pkg: cloudflare

Remove prerender workarounds
  packages/cloudflare/src/index.ts
  packages/cloudflare/src/utils/index.ts
Labels: pkg: cloudflare

Update platformProxy
  packages/cloudflare/src/index.ts
Labels: pkg: cloudflare

Code cleanup
  packages/cloudflare/src/index.ts
Labels: pkg: cloudflare

Changeset
  .changeset/fresh-walls-bow.md
Labels: none

Remove outdated test
  packages/cloudflare/test/exclude-prerender-only-chunks.test.js
  packages/cloudflare/test/fixtures/prerender-optimizations/.gitignore
  packages/cloudflare/test/fixtures/prerender-optimizations/astro.config.ts
  packages/cloudflare/test/fixtures/prerender-optimizations/package.json
  packages/cloudflare/test/fixtures/prerender-optimizations/src/content/config.ts
  packages/cloudflare/test/fixtures/prerender-optimizations/src/content/posts/sample.md
  packages/cloudflare/test/fixtures/prerender-optimizations/src/env.d.ts
  packages/cloudflare/test/fixtures/prerender-optimizations/src/pages/on-demand.astro
  packages/cloudflare/test/fixtures/prerender-optimizations/src/pages/prerender.astro
Labels: pkg: cloudflare

feat(cloudflare): remove experimental support for astro:env
  .changeset/large-balloons-play.md
  packages/cloudflare/src/entrypoints/server.ts
  packages/cloudflare/src/index.ts
  packages/cloudflare/src/utils/env.ts
Labels: pkg: cloudflare

fix(netlify): astro:env getSecret
  .changeset/hot-swans-doubt.md
  packages/netlify/src/index.ts
  packages/netlify/src/ssr-function.ts
Labels: pkg: netlify

fix: astro:env getSecret (#11296)
  packages/vercel/src/serverless/adapter.ts
  packages/vercel/src/serverless/entrypoint.ts
Labels: none

fix: astro:env getSecret (#11296)
  src/index.ts
  src/server.ts
Labels: none

fix: astro:env getSecret (#11296)
  packages/node/src/index.ts
  packages/node/src/server.ts
Labels: none

feat: update
  packages/netlify/src/index.ts
Labels: pkg: netlify

feat(cloudflare): remove experimental support for astro:env (#292)
  .changeset/large-balloons-play.md
  packages/cloudflare/src/entrypoints/server.ts
  packages/cloudflare/src/index.ts
  packages/cloudflare/src/utils/env.ts
Labels: pkg: cloudflare

fix(netlify): astro:env getSecret (#293)
  .changeset/hot-swans-doubt.md
  packages/netlify/src/index.ts
  packages/netlify/src/ssr-function.ts
Labels: pkg: netlify

feat: astro env
  packages/cloudflare/src/entrypoints/server.ts
  packages/cloudflare/src/index.ts
  packages/cloudflare/src/utils/env.ts
  packages/cloudflare/test/astro-env.test.js
  packages/cloudflare/test/fixtures/astro-env/astro.config.ts
  packages/cloudflare/test/fixtures/astro-env/src/pages/index.astro
  packages/cloudflare/test/fixtures/astro-env/wrangler.toml
Labels: pkg: cloudflare

feat: load platform proxy during build
  packages/cloudflare/src/index.ts
Labels: pkg: cloudflare

Update .changeset/fresh-walls-bow.md
  .changeset/fresh-walls-bow.md
Labels: none

Adress review comments
  packages/cloudflare/src/entrypoints/server.ts
  packages/cloudflare/src/index.ts
  packages/cloudflare/test/fixtures/astro-env/astro.config.ts
Labels: pkg: cloudflare

Fix tests
  packages/cloudflare/src/index.ts
  packages/cloudflare/test/astro-env.test.js
Labels: pkg: cloudflare

Fix tests
  packages/cloudflare/src/utils/cloudflare-module-loader.ts
  packages/cloudflare/test/external-image-service.test.js
Labels: pkg: cloudflare

Fix lockfile
  pnpm-lock.yaml
Labels: none

Fix lockfile
  pnpm-lock.yaml
Labels: none

Fix lockfile
  packages/cloudflare/test/fixtures/astro-env/package.json
  pnpm-lock.yaml
Labels: pkg: cloudflare

Remove log
  packages/cloudflare/src/utils/cloudflare-module-loader.ts
Labels: pkg: cloudflare

Update changelog
  .changeset/fresh-walls-bow.md
  packages/cloudflare/src/index.ts
Labels: pkg: cloudflare

Fix typos
  .changeset/fresh-walls-bow.md
Labels: none

Update changelog
  .changeset/fresh-walls-bow.md
Labels: none

Update changelog
  .changeset/fresh-walls-bow.md
Labels: none

Update
  packages/cloudflare/src/index.ts
Labels: pkg: cloudflare

Update changelog
  .changeset/fresh-walls-bow.md
Labels: none

feat(cloudflare): major v11 (#290)
  .changeset/fresh-walls-bow.md
  packages/cloudflare/package.json
  packages/cloudflare/src/entrypoints/server.ts
  packages/cloudflare/src/index.ts
  packages/cloudflare/src/utils/cloudflare-module-loader.ts
  packages/cloudflare/src/utils/env.ts
  packages/cloudflare/src/utils/index.ts
  packages/cloudflare/test/astro-env.test.js
  packages/cloudflare/test/exclude-prerender-only-chunks.test.js
  packages/cloudflare/test/external-image-service.test.js
  packages/cloudflare/test/fixtures/astro-env/astro.config.ts
  packages/cloudflare/test/fixtures/astro-env/package.json
  packages/cloudflare/test/fixtures/astro-env/src/pages/index.astro
  packages/cloudflare/test/fixtures/astro-env/wrangler.toml
  packages/cloudflare/test/fixtures/prerender-optimizations/.gitignore
  packages/cloudflare/test/fixtures/prerender-optimizations/astro.config.ts
  packages/cloudflare/test/fixtures/prerender-optimizations/package.json
  packages/cloudflare/test/fixtures/prerender-optimizations/src/content/config.ts
  packages/cloudflare/test/fixtures/prerender-optimizations/src/content/posts/sample.md
  packages/cloudflare/test/fixtures/prerender-optimizations/src/env.d.ts
  packages/cloudflare/test/fixtures/prerender-optimizations/src/pages/on-demand.astro
  packages/cloudflare/test/fixtures/prerender-optimizations/src/pages/prerender.astro
  pnpm-lock.yaml
Labels: pkg: cloudflare

Update CHANGELOG.md
  packages/cloudflare/CHANGELOG.md
Labels: pkg: cloudflare

.github/labeler.yml:

# See https://github.com/actions/labeler

'ðŸš¨ action':
- .github/workflows/**

'pkg: cloudflare':
- packages/cloudflare/**

'pkg: netlify':
- packages/netlify/**
