Repository withastro/adapters, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸš¨ action, pkg: cloudflare, pkg: netlify

fix: lint
  packages/cloudflare/src/index.ts
Labels: pkg: cloudflare

fix: vite types
  packages/cloudflare/package.json
  packages/cloudflare/src/utils/non-server-chunk-detector.ts
  pnpm-lock.yaml
Labels: pkg: cloudflare

fix: formatting
  packages/cloudflare/src/index.ts
Labels: pkg: cloudflare

fix: format
  packages/netlify/src/types.d.ts
Labels: pkg: netlify

fix: test
  packages/test-utils/test-utils.js
Labels: none

Update good-dolls-act.md
  .changeset/good-dolls-act.md
Labels: none

Update purple-trainers-drive.md
  .changeset/purple-trainers-drive.md
Labels: none

feat: add support for astro:env to node and vercel (#11199)
  packages/vercel/src/serverless/adapter.ts
  packages/vercel/src/serverless/entrypoint.ts
  packages/vercel/src/static/adapter.ts
Labels: none

feat: add support for astro:env to node and vercel (#11199)
  packages/node/src/index.ts
  packages/node/src/server.ts
Labels: none

feat: add support for astro:env to node and vercel (#11199)
  src/index.ts
  src/server.ts
Labels: none

Update packages/cloudflare/src/utils/non-server-chunk-detector.ts
  packages/cloudflare/src/utils/non-server-chunk-detector.ts
Labels: pkg: cloudflare

Update packages/cloudflare/src/utils/non-server-chunk-detector.ts
  packages/cloudflare/src/utils/non-server-chunk-detector.ts
Labels: pkg: cloudflare

Update purple-trainers-drive.md
  .changeset/purple-trainers-drive.md
Labels: none

feat(netlify): support astro:env (#275)
  .changeset/good-dolls-act.md
  packages/cloudflare/package.json
  packages/cloudflare/src/utils/non-server-chunk-detector.ts
  packages/netlify/package.json
  packages/netlify/src/index.ts
  packages/netlify/src/ssr-function.ts
  packages/test-utils/test-utils.js
  pnpm-lock.yaml
Labels: pkg: cloudflare, pkg: netlify

chore: update tests
  packages/cloudflare/test/astro-env.test.js
  packages/cloudflare/test/fixtures/astro-env/astro.config.ts
  packages/cloudflare/test/fixtures/astro-env/src/pages/index.astro
  packages/cloudflare/test/fixtures/astro-env/wrangler.toml
Labels: pkg: cloudflare

Revert "chore: update tests"
  packages/cloudflare/test/astro-env.test.js
  packages/cloudflare/test/fixtures/astro-env/astro.config.ts
  packages/cloudflare/test/fixtures/astro-env/src/pages/index.astro
  packages/cloudflare/test/fixtures/astro-env/wrangler.toml
Labels: pkg: cloudflare

feat(cloudflare): support astro:env (#258)
  .changeset/purple-trainers-drive.md
  packages/cloudflare/.gitignore
  packages/cloudflare/package.json
  packages/cloudflare/src/entrypoints/server.ts
  packages/cloudflare/src/index.ts
  packages/cloudflare/src/utils/env.ts
  packages/cloudflare/test/astro-env.test.js
  packages/cloudflare/test/fixtures/astro-env/.dev.vars
  packages/cloudflare/test/fixtures/astro-env/astro.config.ts
  packages/cloudflare/test/fixtures/astro-env/package.json
  packages/cloudflare/test/fixtures/astro-env/src/env.d.ts
  packages/cloudflare/test/fixtures/astro-env/src/pages/index.astro
  packages/cloudflare/test/fixtures/astro-env/tsconfig.json
  packages/cloudflare/test/fixtures/astro-env/wrangler.toml
  packages/netlify/src/types.d.ts
  pnpm-lock.yaml
Labels: pkg: cloudflare, pkg: netlify

[ci] release (#11225)
  packages/node/CHANGELOG.md
  packages/node/package.json
Labels: none

[ci] release (#11225)
  packages/vercel/CHANGELOG.md
  packages/vercel/package.json
Labels: none

[ci] release (#11225)
  CHANGELOG.md
  package.json
Labels: none

In Vercel Edge, include cookies set by Astro.cookies.set (#11227)
  packages/vercel/package.json
  packages/vercel/src/serverless/adapter.ts
  packages/vercel/src/serverless/middleware.ts
  packages/vercel/test/edge-middleware.test.js
  packages/vercel/test/fixtures/middleware-with-edge-file/src/middleware.js
Labels: none

[ci] format
  packages/vercel/test/edge-middleware.test.js
Labels: none

Fix backwards compat with Astro <= 4.9 (#11261)
  src/server.ts
Labels: none

Fix backwards compat with Astro <= 4.9 (#11261)
  packages/node/src/server.ts
Labels: none

Fix backwards compat with Astro <= 4.9 (#11261)
  packages/vercel/src/serverless/entrypoint.ts
Labels: none

[ci] format
  packages/vercel/src/serverless/entrypoint.ts
Labels: none

[ci] format
  packages/node/src/server.ts
Labels: none

[ci] format
  src/server.ts
Labels: none

fix: backward compatibility Astro <= 4.9
  .changeset/twenty-terms-bathe.md
  packages/cloudflare/src/entrypoints/server.ts
  packages/netlify/src/ssr-function.ts
Labels: pkg: cloudflare, pkg: netlify

fix test
  packages/cloudflare/test/fixtures/astro-env/package.json
  pnpm-lock.yaml
Labels: pkg: cloudflare

fix build issues
  packages/cloudflare/package.json
  pnpm-lock.yaml
Labels: pkg: cloudflare

disable test until upstream fix
  packages/cloudflare/test/astro-env.test.js
Labels: pkg: cloudflare

fix: backward compatibility Astro <= 4.9 (#282)
  .changeset/twenty-terms-bathe.md
  packages/cloudflare/package.json
  packages/cloudflare/src/entrypoints/server.ts
  packages/cloudflare/test/astro-env.test.js
  packages/cloudflare/test/fixtures/astro-env/package.json
  packages/netlify/src/ssr-function.ts
  pnpm-lock.yaml
Labels: pkg: cloudflare, pkg: netlify

add esbuild plugin to allow node: prefixed imports
  .changeset/silly-snails-search.md
  packages/netlify/src/index.ts
  packages/netlify/test/functions/fixtures/middleware/src/middleware.ts
Labels: pkg: netlify

Refactor prerendering chunk handling (#11245)
  test/node-middleware.test.js
  test/prerender-404-500.test.js
  test/prerender.test.js
  test/trailing-slash.test.js
Labels: none

Refactor prerendering chunk handling (#11245)
  packages/vercel/test/serverless-prerender.test.js
Labels: none

Refactor prerendering chunk handling (#11245)
  packages/node/test/node-middleware.test.js
  packages/node/test/prerender-404-500.test.js
  packages/node/test/prerender.test.js
  packages/node/test/trailing-slash.test.js
Labels: none

chore: logging cleanup (#11263)
  src/index.ts
Labels: none

chore: logging cleanup (#11263)
  packages/node/src/index.ts
Labels: none

[ci] release (#11233)
  packages/vercel/CHANGELOG.md
  packages/vercel/package.json
Labels: none

.github/labeler.yml:

# See https://github.com/actions/labeler

'ðŸš¨ action':
- .github/workflows/**

'pkg: cloudflare':
- packages/cloudflare/**

'pkg: netlify':
- packages/netlify/**
