Repository withastro/adapters, pull requests merged in 2023-12, with the labels that each got.

#79 chore: format with Biome
  .eslintrc.cjs
  .prettierignore
  .vscode/extensions.json
  biome.json
  package.json
  packages/cloudflare/src/index.ts
  packages/test-utils/test-utils.js
  pnpm-lock.yaml
  prettier.config.js
  scripts/notify/index.js
Labels: pkg: cloudflare

#83 chore: remove `type EndpointOutput`
  packages/cloudflare/test/fixtures/wasm-directory/src/pages/index.ts
  packages/cloudflare/test/fixtures/wasm-function-per-route/src/pages/deeply/nested/route.ts
  packages/cloudflare/test/fixtures/wasm-function-per-route/src/pages/index.ts
  packages/cloudflare/test/fixtures/wasm/src/pages/add/[a]/[b].ts
  packages/cloudflare/test/fixtures/wasm/src/pages/hybrid.ts
Labels: pkg: cloudflare

#86 chore(cloudflare): remove deprecated `build.split` option
  .changeset/breezy-rings-invite.md
  packages/cloudflare/src/index.ts
Labels: pkg: cloudflare, docs pr

#87 chore: update to Astro v4
  .changeset/config.json
  packages/cloudflare/package.json
  packages/cloudflare/test/fixtures/dev-runtime-pages/package.json
  packages/cloudflare/test/fixtures/dev-runtime-workers/package.json
  packages/cloudflare/test/fixtures/directory-mode/package.json
  packages/cloudflare/test/fixtures/external-image-service/package.json
  packages/cloudflare/test/fixtures/function-per-route/package.json
  packages/cloudflare/test/fixtures/hybrid/package.json
  packages/cloudflare/test/fixtures/no-output/package.json
  packages/cloudflare/test/fixtures/prerender/package.json
  packages/cloudflare/test/fixtures/routes-json/package.json
  packages/cloudflare/test/fixtures/wasm-directory/package.json
  packages/cloudflare/test/fixtures/wasm-function-per-route/package.json
  packages/cloudflare/test/fixtures/wasm/package.json
  packages/cloudflare/test/fixtures/with-solid-js/package.json
  packages/cloudflare/test/fixtures/wrangler-runtime/package.json
  packages/netlify/package.json
  packages/netlify/test/functions/fixtures/404/package.json
  packages/netlify/test/functions/fixtures/base/package.json
  packages/netlify/test/functions/fixtures/base64-response/package.json
  packages/netlify/test/functions/fixtures/builders/package.json
  packages/netlify/test/functions/fixtures/cookies/package.json
  packages/netlify/test/functions/fixtures/dynamic-route/package.json
  packages/netlify/test/functions/fixtures/middleware-with-handler-file/package.json
  packages/netlify/test/functions/fixtures/middleware-without-handler-file/package.json
  packages/netlify/test/functions/fixtures/prerender/package.json
  packages/netlify/test/functions/fixtures/redirects/package.json
  packages/netlify/test/functions/fixtures/split-support/package.json
  packages/netlify/test/hosted/hosted-astro-project/package.json
  packages/test-utils/package.json
  pnpm-lock.yaml
Labels: pkg: cloudflare, pkg: netlify

#89 fix(cloudflare): fix wasm plugin
  .changeset/good-plums-guess.md
  packages/cloudflare/src/utils/wasm-module-loader.ts
Labels: pkg: cloudflare, docs pr

#94 revert "[ci] release"
  .changeset/breezy-rings-invite.md
  .changeset/good-plums-guess.md
  .changeset/loud-coins-begin.md
  .changeset/sour-beers-begin.md
  packages/cloudflare/CHANGELOG.md
  packages/cloudflare/package.json
Labels: pkg: cloudflare, docs pr

#95 chore: ignore netlify release
  .changeset/dry-news-laugh.md
  .changeset/tall-tools-jam.md
Labels: docs pr

#96 fix(netlify): tests
  .changeset/stale-boats-joke.md
  packages/netlify/test/functions/fixtures/base64-response/src/pages/font.js
  packages/netlify/test/functions/fixtures/base64-response/src/pages/image.js
  packages/netlify/test/functions/fixtures/cookies/src/pages/login.js
  packages/netlify/test/functions/fixtures/split-support/src/env.d.ts
Labels: docs pr, pkg: netlify

#105 fix: use fs read instead of JSON import
  .changeset/fluffy-spoons-cheat.md
  packages/netlify/src/index.ts
Labels: docs pr, pkg: netlify

#111 chore: use Biome as linter
  .eslintrc.cjs
  biome.json
  package.json
  packages/cloudflare/src/entrypoints/server.advanced.ts
  packages/cloudflare/src/entrypoints/server.directory.ts
  packages/cloudflare/src/index.ts
  packages/cloudflare/src/util.ts
  packages/cloudflare/src/utils/assets.ts
  packages/cloudflare/src/utils/local-runtime.ts
  packages/cloudflare/src/utils/parser.ts
  packages/cloudflare/src/utils/prependForwardSlash.ts
  packages/cloudflare/src/utils/wasm-module-loader.ts
  packages/cloudflare/test/dev-runtime-pages.test.js
  packages/cloudflare/test/dev-runtime-workers.test.js
  packages/cloudflare/test/directory-mode.test.js
  packages/cloudflare/test/wasm-directory.test.js
  packages/cloudflare/test/wasm-function-per-route.test.js
  packages/cloudflare/test/wasm.test.js
  packages/cloudflare/test/with-solid-js.test.js
  packages/cloudflare/test/wrangler-runtime.test.js
  packages/netlify/src/image-service.ts
  packages/netlify/src/index.ts
  packages/netlify/src/ssr-function.ts
  packages/netlify/test/functions/redirects.test.js
  packages/netlify/test/hosted/hosted.test.js
  packages/netlify/test/setup.js
  packages/netlify/test/static/redirects.test.js
  packages/test-utils/test-utils.js
Labels: pkg: cloudflare, pkg: netlify

#108 Update Cloudflare README.md
  .changeset/purple-days-approve.md
  packages/cloudflare/README.md
Labels: pkg: cloudflare, docs pr

#109 Update Netlify README.md
  .changeset/clever-eagles-search.md
  packages/netlify/README.md
Labels: docs pr, pkg: netlify

#117 Fix missing MR merge
  .changeset/clever-eagles-search.md
  packages/netlify/README.md
Labels: docs pr, pkg: netlify
