Repository withastro/adapters, pull requests merged in 2023-11, with the labels that each got.

#51 chore: update deps
  .changeset/fast-beans-check.md
  packages/cloudflare/package.json
  packages/netlify/package.json
  pnpm-lock.yaml
Labels: pkg: cloudflare, docs pr, pkg: netlify

#49 test(netlify): add base fixture and prepare test (#45)
  packages/netlify/test/functions/base.test.js
  packages/netlify/test/functions/fixtures/base/astro.config.mjs
  packages/netlify/test/functions/fixtures/base/package.json
  packages/netlify/test/functions/fixtures/base/src/env.d.ts
  packages/netlify/test/functions/fixtures/base/src/pages/index.astro
  pnpm-lock.yaml
Labels: pkg: netlify

#63 chore: add Congratsbot
  .github/workflows/discord.yml
Labels: 🚨 action

#66 fix(cloudflare): Fix `404.astro` not being used when `routes.strategy` is set to `exclude`
  .changeset/twelve-grapes-dream.md
  packages/cloudflare/src/entrypoints/server.advanced.ts
  packages/cloudflare/src/entrypoints/server.directory.ts
Labels: pkg: cloudflare, docs pr

#69 fix(cloudflare): routing strategy doesn't support on-demand 404
  .changeset/spotty-kings-roll.md
  packages/cloudflare/src/index.ts
Labels: pkg: cloudflare, docs pr

#71 fix: peerDependency definition
  .changeset/loud-coins-begin.md
  packages/cloudflare/package.json
  packages/netlify/package.json
Labels: pkg: cloudflare, docs pr, pkg: netlify

#75 Fix broken links in Netlify README
  packages/netlify/README.md
Labels: pkg: netlify

#61 fix(cloudflare): code pattern cloudflare local runtime
  .changeset/sour-beers-begin.md
  packages/cloudflare/README.md
  packages/cloudflare/src/index.ts
  packages/cloudflare/src/tmp-types.d.ts
  packages/cloudflare/src/utils/getCFObject.ts
  packages/cloudflare/src/utils/local-runtime.ts
  packages/cloudflare/test/_test-utils.js
  packages/cloudflare/test/dev-runtime-pages.test.js
  packages/cloudflare/test/dev-runtime-workers.test.js
  packages/cloudflare/test/fixtures/dev-runtime-pages/.dev.vars
  packages/cloudflare/test/fixtures/dev-runtime-pages/astro.config.ts
  packages/cloudflare/test/fixtures/dev-runtime-pages/package.json
  packages/cloudflare/test/fixtures/dev-runtime-pages/src/env.d.ts
  packages/cloudflare/test/fixtures/dev-runtime-pages/src/pages/caches.astro
  packages/cloudflare/test/fixtures/dev-runtime-pages/src/pages/d1.astro
  packages/cloudflare/test/fixtures/dev-runtime-pages/src/pages/do.astro
  packages/cloudflare/test/fixtures/dev-runtime-pages/src/pages/index.astro
  packages/cloudflare/test/fixtures/dev-runtime-pages/src/pages/kv.astro
  packages/cloudflare/test/fixtures/dev-runtime-pages/src/pages/r2.astro
  packages/cloudflare/test/fixtures/dev-runtime-workers/.dev.vars
  packages/cloudflare/test/fixtures/dev-runtime-workers/astro.config.ts
  packages/cloudflare/test/fixtures/dev-runtime-workers/package.json
  packages/cloudflare/test/fixtures/dev-runtime-workers/src/env.d.ts
  packages/cloudflare/test/fixtures/dev-runtime-workers/src/pages/caches.astro
  packages/cloudflare/test/fixtures/dev-runtime-workers/src/pages/d1.astro
  packages/cloudflare/test/fixtures/dev-runtime-workers/src/pages/do.astro
  packages/cloudflare/test/fixtures/dev-runtime-workers/src/pages/index.astro
  packages/cloudflare/test/fixtures/dev-runtime-workers/src/pages/kv.astro
  packages/cloudflare/test/fixtures/dev-runtime-workers/src/pages/r2.astro
  packages/cloudflare/test/fixtures/dev-runtime-workers/wrangler.toml
  packages/cloudflare/tsconfig.json
  pnpm-lock.yaml
Labels: pkg: cloudflare, docs pr
