Repository withastro/adapters, pull requests merged in 2023-10, with the labels that each got.

#25 chore: add script to generate discord release notification
  .eslintignore
  .github/workflows/release.yml
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/jsconfig.json
  scripts/notify/index.js
  scripts/package.json
Labels: 🚨 action

#23 chore(cloudflare): add option to set persistence dir
  .changeset/rich-foxes-deliver.md
  packages/cloudflare/.gitignore
  packages/cloudflare/README.md
  packages/cloudflare/src/index.ts
  packages/cloudflare/test/fixtures/dev-runtime/astro.config.mjs
  packages/cloudflare/test/fixtures/dev-runtime/package.json
  pnpm-lock.yaml
Labels: pkg: cloudflare, docs pr

#28 fix(cloudflare): missing persistence config for `cache`
  .changeset/chilled-plants-move.md
  packages/cloudflare/src/index.ts
Labels: pkg: cloudflare, docs pr

#30 fix(cloudflare): adapter breaks if no args passed
  .changeset/hot-wolves-lick.md
  packages/cloudflare/src/index.ts
Labels: pkg: cloudflare, docs pr

#32 chore: update CI/CD workflows
  .github/workflows/format.yml
  .github/workflows/snapshot-release.yml
Labels: 🚨 action

#35 fix: snapshot release workflow
  .github/workflows/snapshot-release.yml
Labels: 🚨 action

#36 fix: snapshot release workflow repo fetch-depth
  .github/workflows/snapshot-release.yml
Labels: 🚨 action

#37 fix: snapshot release main branch not found
  .github/workflows/snapshot-release.yml
Labels: 🚨 action

#38 revert: shared format workflow
  .github/workflows/format.yml
Labels: 🚨 action

#33 fix(cloudflare): astro asset image service
  .changeset/nice-impalas-whisper.md
  packages/cloudflare/src/index.ts
Labels: pkg: cloudflare

#39 Fix incorrect netlify redirect test
  packages/netlify/test/functions/redirects.test.js
Labels: pkg: netlify

#46 fix(astro): build regression
  .changeset/modern-garlics-explain.md
  packages/cloudflare/src/index.ts
Labels: pkg: cloudflare, docs pr
