Repository withastro/adapters, pull requests merged in 2024-03, with the labels that each got.

#179 feat(cloudflare): add service bindings
  .changeset/nervous-hotels-develop.md
  packages/cloudflare/src/tmp-types.d.ts
  packages/cloudflare/src/utils/local-runtime.ts
  packages/cloudflare/test/dev-runtime-workers.test.js
  packages/cloudflare/test/fixtures/dev-runtime-pages/astro.config.ts
  packages/cloudflare/test/fixtures/dev-runtime-pages/src/pages/services.astro
  packages/cloudflare/test/fixtures/dev-runtime-workers/src/pages/services.astro
  packages/cloudflare/test/fixtures/dev-runtime-workers/wrangler.toml
  packages/cloudflare/test/z-dev-runtime-pages.test.js
Labels: pkg: cloudflare, docs pr

#183 chore: update biome to the latest
  .eslintrc.cjs
  .github/workflows/ci.yml
  biome.json
  package.json
  packages/cloudflare/package.json
  packages/cloudflare/src/entrypoints/server.advanced.ts
  packages/cloudflare/src/entrypoints/server.directory.ts
  packages/cloudflare/src/index.ts
  packages/cloudflare/src/utils/local-runtime.ts
  packages/cloudflare/src/utils/parser.ts
  packages/cloudflare/src/utils/rewriteWasmImportPath.ts
  packages/cloudflare/src/utils/sharpBundlePatch.ts
  packages/cloudflare/test/hybrid.test.js
  packages/cloudflare/test/prerender.test.js
  packages/netlify/package.json
  packages/netlify/src/index.ts
  packages/netlify/src/ssr-function.ts
  packages/netlify/test/functions/redirects.test.js
  packages/test-utils/test-utils.js
  pnpm-lock.yaml
Labels: 🚨 action, pkg: cloudflare, pkg: netlify

#188 fix: format workflow
  .github/workflows/format.yml
Labels: 🚨 action

#187 feat(netlify): add support for image.remotePatterns and images.domains with Netlify Image CDN
  .changeset/nine-lamps-cry.md
  packages/netlify/src/index.ts
  packages/netlify/test/functions/fixtures/middleware/astro.config.mjs
  packages/netlify/test/functions/image-cdn.test.js
  packages/netlify/test/hosted/hosted-astro-project/astro.config.mjs
  packages/netlify/test/hosted/hosted-astro-project/netlify.toml
  packages/netlify/test/hosted/hosted-astro-project/src/pages/index.astro
Labels: docs pr, pkg: netlify

#192 chore(cloudflare): add deprecated tags
  .changeset/flat-pears-hug.md
  packages/cloudflare/src/index.ts
Labels: pkg: cloudflare, docs pr

#194 inits major upgrade
  .changeset/fast-wasps-kneel.md
  packages/cloudflare/package.json
  packages/cloudflare/test/_test-utils.js
  pnpm-lock.yaml
  scripts/cmd/test.js
Labels: pkg: cloudflare, docs pr

#195 removes deprecated features
  packages/cloudflare/src/entrypoints/server.directory.ts
  packages/cloudflare/src/getAdapter.ts
  packages/cloudflare/src/index.ts
  packages/cloudflare/test/directory-mode.test.js
  packages/cloudflare/test/fixtures/directory-mode/astro.config.mjs
  packages/cloudflare/test/fixtures/directory-mode/package.json
  packages/cloudflare/test/fixtures/directory-mode/src/env.d.ts
  packages/cloudflare/test/fixtures/directory-mode/src/pages/index.astro
  packages/cloudflare/test/fixtures/function-per-route/astro.config.mjs
  packages/cloudflare/test/fixtures/function-per-route/package.json
  packages/cloudflare/test/fixtures/function-per-route/src/env.d.ts
  packages/cloudflare/test/fixtures/function-per-route/src/middleware.ts
  packages/cloudflare/test/fixtures/function-per-route/src/pages/[language]/files/[...path].astro
  packages/cloudflare/test/fixtures/function-per-route/src/pages/[person]/[car].astro
  packages/cloudflare/test/fixtures/function-per-route/src/pages/blog/[post].astro
  packages/cloudflare/test/fixtures/function-per-route/src/pages/blog/cool.astro
  packages/cloudflare/test/fixtures/function-per-route/src/pages/files/[...path].astro
  packages/cloudflare/test/fixtures/function-per-route/src/pages/index.astro
  packages/cloudflare/test/fixtures/function-per-route/src/pages/javascript.js
  packages/cloudflare/test/fixtures/function-per-route/src/pages/prerender.astro
  packages/cloudflare/test/fixtures/function-per-route/src/pages/test.json.ts
  packages/cloudflare/test/fixtures/function-per-route/src/pages/trpc/[trpc].ts
  packages/cloudflare/test/fixtures/wasm-directory/astro.config.mjs
  packages/cloudflare/test/fixtures/wasm-directory/package.json
  packages/cloudflare/test/fixtures/wasm-directory/src/env.d.ts
  packages/cloudflare/test/fixtures/wasm-directory/src/pages/index.ts
  packages/cloudflare/test/fixtures/wasm-directory/src/util/add.wasm
  packages/cloudflare/test/fixtures/wasm-function-per-route/astro.config.mjs
  packages/cloudflare/test/fixtures/wasm-function-per-route/package.json
  packages/cloudflare/test/fixtures/wasm-function-per-route/src/env.d.ts
  packages/cloudflare/test/fixtures/wasm-function-per-route/src/pages/deeply/nested/route.ts
  packages/cloudflare/test/fixtures/wasm-function-per-route/src/pages/index.ts
  packages/cloudflare/test/fixtures/wasm-function-per-route/src/util/add.ts
  packages/cloudflare/test/fixtures/wasm-function-per-route/src/util/add.wasm
  packages/cloudflare/test/fixtures/wasm-function-per-route/src/util/indirection.ts
  packages/cloudflare/test/function-per-route.test.js
  packages/cloudflare/test/routes-json.test.js
  packages/cloudflare/test/wasm-directory.test.js
  packages/cloudflare/test/wasm-function-per-route.test.js
  pnpm-lock.yaml
Labels: pkg: cloudflare

#196 refactors runtime
  packages/cloudflare/package.json
  packages/cloudflare/src/index.ts
  packages/cloudflare/src/tmp-types.d.ts
  packages/cloudflare/src/utils/local-runtime.ts
  packages/cloudflare/src/utils/parser.ts
  packages/cloudflare/test/astro-dev-platform.test.js
  packages/cloudflare/test/dev-runtime-workers.test.js
  packages/cloudflare/test/fixtures/astro-dev-platform/.dev.vars
  packages/cloudflare/test/fixtures/astro-dev-platform/astro.config.ts
  packages/cloudflare/test/fixtures/astro-dev-platform/package.json
  packages/cloudflare/test/fixtures/astro-dev-platform/src/env.d.ts
  packages/cloudflare/test/fixtures/astro-dev-platform/src/pages/caches.astro
  packages/cloudflare/test/fixtures/astro-dev-platform/src/pages/d1.astro
  packages/cloudflare/test/fixtures/astro-dev-platform/src/pages/index.astro
  packages/cloudflare/test/fixtures/astro-dev-platform/src/pages/kv.astro
  packages/cloudflare/test/fixtures/astro-dev-platform/src/pages/r2.astro
  packages/cloudflare/test/fixtures/astro-dev-platform/wrangler.toml
  packages/cloudflare/test/fixtures/dev-runtime-pages/astro.config.ts
  packages/cloudflare/test/fixtures/dev-runtime-pages/src/pages/do.astro
  packages/cloudflare/test/fixtures/dev-runtime-pages/src/pages/services.astro
  packages/cloudflare/test/fixtures/dev-runtime-pages/wrangler.toml
  packages/cloudflare/test/fixtures/dev-runtime-workers/.dev.vars
  packages/cloudflare/test/fixtures/dev-runtime-workers/src/pages/caches.astro
  packages/cloudflare/test/fixtures/dev-runtime-workers/src/pages/d1.astro
  packages/cloudflare/test/fixtures/dev-runtime-workers/src/pages/do.astro
  packages/cloudflare/test/fixtures/dev-runtime-workers/src/pages/index.astro
  packages/cloudflare/test/fixtures/dev-runtime-workers/src/pages/kv.astro
  packages/cloudflare/test/fixtures/dev-runtime-workers/src/pages/r2.astro
  packages/cloudflare/test/fixtures/dev-runtime-workers/src/pages/services.astro
  packages/cloudflare/test/fixtures/dev-runtime-workers/wrangler.toml
  packages/cloudflare/test/fixtures/wrangler-preview-platform/.dev.vars
  packages/cloudflare/test/fixtures/wrangler-preview-platform/astro.config.mjs
  packages/cloudflare/test/fixtures/wrangler-preview-platform/package.json
  packages/cloudflare/test/fixtures/wrangler-preview-platform/src/env.d.ts
  packages/cloudflare/test/fixtures/wrangler-preview-platform/src/pages/index.astro
  packages/cloudflare/test/fixtures/wrangler-preview-platform/wrangler.toml
  packages/cloudflare/test/fixtures/wrangler-runtime/.dev.vars
  packages/cloudflare/test/fixtures/wrangler-runtime/package.json
  packages/cloudflare/test/fixtures/wrangler-runtime/src/env.d.ts
  packages/cloudflare/test/wasm.test.js
  packages/cloudflare/test/with-solid-js.test.js
  packages/cloudflare/test/wrangler-preview-platform.test.js
  pnpm-lock.yaml
Labels: pkg: cloudflare

#197 removes esbuild step
  packages/cloudflare/src/index.ts
  packages/cloudflare/src/utils/rewriteWasmImportPath.ts
  packages/cloudflare/src/utils/sharpBundlePatch.ts
  packages/cloudflare/src/utils/wasm-module-loader.ts
  packages/cloudflare/test/exteral-image-service.test.js
Labels: pkg: cloudflare

#198 improves code
  packages/cloudflare/src/entrypoints/image-endpoint.ts
  packages/cloudflare/src/entrypoints/server.advanced.ts
  packages/cloudflare/src/getAdapter.ts
  packages/cloudflare/src/index.ts
  packages/cloudflare/src/util.ts
  packages/cloudflare/src/utils/image-config.ts
  packages/cloudflare/test/fixtures/wasm/astro.config.mjs
Labels: pkg: cloudflare

#204 fix(cloudflare): fix typo in .dev.vars log message
  .changeset/strange-eels-smell.md
  packages/cloudflare/src/utils/local-runtime.ts
Labels: pkg: cloudflare, docs pr

#210 fixes vue
  .changeset/shy-cooks-knock.md
  packages/cloudflare/package.json
  packages/cloudflare/src/index.ts
  pnpm-lock.yaml
Labels: pkg: cloudflare, docs pr

#212 fixes solid
  .changeset/itchy-ears-jam.md
  packages/cloudflare/src/index.ts
Labels: pkg: cloudflare, docs pr
