Repository withastro/adapters, pull requests merged in 2024-08, with the labels that each got.

#340 fix(cloudflare): env vars in middleware & prerendering
  .changeset/tall-shrimps-jump.md
  packages/cloudflare/package.json
  packages/cloudflare/src/entrypoints/middleware.ts
  packages/cloudflare/src/index.ts
  pnpm-lock.yaml
Labels: pkg: cloudflare

#341 fix(cloudflare): env vars in middleware & prerendering
  .changeset/tall-shrimps-jump.md
  packages/cloudflare/src/entrypoints/middleware.ts
Labels: pkg: cloudflare

#335 fix(cloudflare): add proxy /_image endpoint
  .changeset/twenty-plants-pump.md
  packages/cloudflare/src/entrypoints/image-endpoint.ts
  packages/cloudflare/test/fixtures/compile-image-service/astro.config.mjs
  packages/cloudflare/test/fixtures/compile-image-service/package.json
  packages/cloudflare/test/fixtures/compile-image-service/src/content/blog/post/index.md
  packages/cloudflare/test/fixtures/compile-image-service/src/content/blog/post/placeholder.jpg
  packages/cloudflare/test/fixtures/compile-image-service/src/content/config.ts
  packages/cloudflare/test/fixtures/compile-image-service/src/env.d.ts
  packages/cloudflare/test/fixtures/compile-image-service/src/pages/blog/[...slug].astro
  pnpm-lock.yaml
Labels: pkg: cloudflare

#344 fix(cloudflare): Fixes peer dependency conflict
  .changeset/smooth-frogs-rush.md
  packages/cloudflare/package.json
  pnpm-lock.yaml
Labels: pkg: cloudflare, - P2: has workaround

#350 Apply polyfills right away
  .changeset/thirty-panthers-wave.md
  packages/netlify/src/index.ts
  packages/netlify/src/ssr-function.ts
Labels: pkg: netlify

#356 Upgrade to eslint v9
  .eslintignore
  .eslintrc.cjs
  eslint.config.js
  package.json
  packages/cloudflare/src/utils/generate-routes-json.ts
  packages/netlify/src/index.ts
  pnpm-lock.yaml
Labels: pkg: cloudflare, pkg: netlify

#357 ci: adds a workflow to listen to event dispatch
  .github/workflows/event-dispatch.yml
Labels: 🚨 action

#359 chore: build whole repo due to interconnected deps
  .github/workflows/event-dispatch.yml
Labels: 🚨 action

#360 chore: build whole repo due to interconnected deps
  .github/workflows/event-dispatch.yml
Labels: 🚨 action
