Repository withastro/adapters, pull requests merged in 2024-12, with the labels that each got.

#460 test: use Astro v5 and update cloudflare assertions
  packages/cloudflare/package.json
  packages/cloudflare/test/fixtures/astro-dev-platform/package.json
  packages/cloudflare/test/fixtures/astro-env/package.json
  packages/cloudflare/test/fixtures/compile-image-service/package.json
  packages/cloudflare/test/fixtures/external-image-service/package.json
  packages/cloudflare/test/fixtures/module-loader/package.json
  packages/cloudflare/test/fixtures/no-output/package.json
  packages/cloudflare/test/fixtures/routes-json/package.json
  packages/cloudflare/test/fixtures/with-solid-js/package.json
  packages/cloudflare/test/fixtures/wrangler-preview-platform/package.json
  packages/cloudflare/test/routes-json.test.js
  packages/netlify/package.json
  packages/netlify/test/functions/fixtures/cookies/astro.config.mjs
  packages/netlify/test/hosted/hosted-astro-project/package.json
  packages/node/package.json
  packages/node/test/fixtures/api-route/astro.config.mjs
  packages/node/test/fixtures/api-route/package.json
  packages/node/test/fixtures/api-route/src/pages/redirect.ts
  packages/node/test/fixtures/api-route/src/pages/response-redirect.ts
  packages/node/test/fixtures/bad-urls/package.json
  packages/node/test/fixtures/encoded/package.json
  packages/node/test/fixtures/errors/package.json
  packages/node/test/fixtures/headers/package.json
  packages/node/test/fixtures/image/package.json
  packages/node/test/fixtures/locals/astro.config.mjs
  packages/node/test/fixtures/locals/package.json
  packages/node/test/fixtures/node-middleware/package.json
  packages/node/test/fixtures/prerender-404-500/package.json
  packages/node/test/fixtures/prerender/package.json
  packages/node/test/fixtures/preview-headers/package.json
  packages/node/test/fixtures/trailing-slash/package.json
  packages/node/test/fixtures/url/package.json
  packages/node/test/fixtures/well-known-locations/package.json
  packages/node/test/node-middleware.test.js
  packages/test-utils/package.json
  packages/vercel/package.json
  packages/vercel/test/fixtures/basic/package.json
  packages/vercel/test/fixtures/image/package.json
  packages/vercel/test/fixtures/isr/package.json
  packages/vercel/test/fixtures/max-duration/package.json
  packages/vercel/test/fixtures/middleware-with-edge-file/package.json
  packages/vercel/test/fixtures/middleware-without-edge-file/package.json
  packages/vercel/test/fixtures/no-output/package.json
  packages/vercel/test/fixtures/prerendered-error-pages/package.json
  packages/vercel/test/fixtures/redirects-serverless/package.json
  packages/vercel/test/fixtures/redirects/package.json
  packages/vercel/test/fixtures/server-islands/package.json
  packages/vercel/test/fixtures/serverless-prerender/package.json
  packages/vercel/test/fixtures/serverless-with-dynamic-routes/package.json
  packages/vercel/test/fixtures/static-assets/package.json
  packages/vercel/test/fixtures/static/package.json
  packages/vercel/test/fixtures/streaming/package.json
  packages/vercel/test/fixtures/with-web-analytics-enabled/output-as-static/package.json
  packages/vercel/test/hosted/hosted-astro-project/package.json
  packages/vercel/test/isr.test.js
  pnpm-lock.yaml
Labels: pkg: cloudflare, pkg: netlify, pkg: node, pkg: vercel

#459 test(node): add image tests
  packages/node/test/fixtures/image/package.json
  packages/node/test/fixtures/image/src/pages/[...catchall].astro
  packages/node/test/fixtures/image/src/pages/index.astro
  packages/node/test/image.test.js
  pnpm-lock.yaml
Labels: pkg: node

#463 refactor: readability
  packages/node/src/serve-static.ts
  packages/node/test/node-middleware.test.js
  packages/vercel/test/edge-middleware.test.js
  scripts/notify/index.js
Labels: pkg: node, pkg: vercel

#455 Add support for `wrangler.jsonc`
  .changeset/nine-days-grab.md
  packages/cloudflare/src/index.ts
Labels: pkg: cloudflare

#472 fix(vercel): add support for Node 22 (v8)
  .changeset/clever-goats-bake.md
  packages/vercel/src/index.ts
Labels: pkg: vercel

#481 fix(netlify): don't directly assign locals
  .changeset/great-ties-relate.md
  packages/netlify/src/index.ts
Labels: pkg: netlify

#488 fix: correctly pass locals from Netlify edge middleware
  .changeset/violet-laws-wonder.md
  .gitignore
  packages/netlify/src/index.ts
  packages/netlify/test/hosted/hosted-astro-project/astro.config.mjs
  packages/netlify/test/hosted/hosted-astro-project/package.json
  packages/netlify/test/hosted/hosted-astro-project/src/middleware.ts
  packages/netlify/test/hosted/hosted-astro-project/src/pages/country.astro
  packages/netlify/test/hosted/hosted.test.js
  pnpm-lock.yaml
Labels: pkg: netlify
