Repository withastro/adapters, pull requests merged in 2024-11, with the labels that each got.

#437 fix(vercel): output build directory
  .changeset/slow-mangos-call.md
  packages/vercel/src/index.ts
  packages/vercel/test/serverless-prerender.test.js
Labels: pkg: vercel

#447 fix(vercel): add support for Node 22
  .changeset/odd-kiwis-clap.md
  packages/vercel/src/serverless/adapter.ts
Labels: pkg: vercel

#449 chore: update Astro peer dep for adapters
  packages/cloudflare/package.json
  packages/cloudflare/test/routes-json.test.js
  packages/netlify/package.json
  packages/node/package.json
  packages/vercel/package.json
  pnpm-lock.yaml
Labels: pkg: cloudflare, pkg: netlify, pkg: node, pkg: vercel

#450 ci: add `legacy` to the deployable branches
  .github/workflows/release.yml
Labels: 🚨 action
