Repository withastro/adapters, pull requests merged in 2024-10, with the labels that each got.

#413 fix(netlify): support middleware rewrite
  .changeset/fast-penguins-build.md
  packages/netlify/src/index.ts
Labels: pkg: netlify

#373 fix: ISR opt out for routes with rest parameters
  .changeset/early-scissors-wait.md
  packages/vercel/src/lib/redirects.ts
  packages/vercel/test/fixtures/isr/astro.config.mjs
  packages/vercel/test/fixtures/isr/src/pages/excluded/[...rest].astro
  packages/vercel/test/isr.test.js
Labels: pkg: vercel

#423 feat: improve _routes.json generation
  .changeset/many-hornets-ring.md
  packages/cloudflare/src/utils/generate-routes-json.ts
  packages/cloudflare/test/fixtures/routes-json/src/manyStatic/env.d.ts
  packages/cloudflare/test/fixtures/routes-json/src/manyStatic/pages/[id].astro
  packages/cloudflare/test/fixtures/routes-json/src/manyStatic/pages/dynamic.astro
  packages/cloudflare/test/fixtures/routes-json/src/manyStaticWith404/env.d.ts
  packages/cloudflare/test/fixtures/routes-json/src/manyStaticWith404/pages/404.astro
  packages/cloudflare/test/fixtures/routes-json/src/manyStaticWith404/pages/[id].astro
  packages/cloudflare/test/fixtures/routes-json/src/manyStaticWith404/pages/dynamic.astro
  packages/cloudflare/test/routes-json.test.js
Labels: pkg: cloudflare

#424 feat(vercel): single entrypoint
  .changeset/fast-singers-design.md
  packages/vercel/package.json
  packages/vercel/src/image/shared.ts
  packages/vercel/src/index.ts
  packages/vercel/src/serverless/adapter.ts
  packages/vercel/src/serverless/entrypoint.ts
  packages/vercel/src/serverless/middleware.ts
  packages/vercel/src/static/adapter.ts
  packages/vercel/test/fixtures/serverless-with-dynamic-routes/package.json
  packages/vercel/test/prerendered-error-pages.test.js
  packages/vercel/test/serverless-with-dynamic-routes.test.js
  pnpm-lock.yaml
Labels: pkg: vercel

#409 chore: externalize `cloudflare:sockets` imports
  .changeset/good-rivers-add.md
  packages/cloudflare/src/index.ts
Labels: pkg: cloudflare
