Repository withastro/adapters, pull requests merged in 2024-04, with the labels that each got.

#217 fix(cloudflare): route generation exclude wildcard
  .changeset/lazy-pears-jam.md
  .changeset/nice-carpets-destroy.md
  packages/cloudflare/src/utils/generate-routes-json.ts
  packages/cloudflare/test/routes-json.test.js
Labels: pkg: cloudflare, docs pr

#223 chore(cloudflare): minor test improvements
  packages/cloudflare/test/_test-utils.js
  packages/cloudflare/test/no-output.test.js
Labels: pkg: cloudflare

#225 fix(cloudflare): align runtime api
  .changeset/selfish-spoons-mix.md
  packages/cloudflare/package.json
  packages/cloudflare/src/entrypoints/server.ts
  packages/cloudflare/src/index.ts
Labels: pkg: cloudflare, docs pr

#229 Add imageService 'custom' to cloudflare integration
  .changeset/stupid-houses-laugh.md
  packages/cloudflare/src/index.ts
  packages/cloudflare/src/utils/image-config.ts
Labels: pkg: cloudflare, docs pr

#227 workaround prerender in pageMap
  packages/cloudflare/src/index.ts
Labels: pkg: cloudflare

#222 feat(cloudflare): Exclude prerender and unused chunks from server bundle
  .changeset/pink-rings-agree.md
  packages/cloudflare/package.json
  packages/cloudflare/src/index.ts
  packages/cloudflare/src/utils/non-server-chunk-detector.ts
  packages/cloudflare/test/exclude-prerender-only-chunks.test.js
  packages/cloudflare/test/fixtures/prerender-optimizations/.gitignore
  packages/cloudflare/test/fixtures/prerender-optimizations/astro.config.ts
  packages/cloudflare/test/fixtures/prerender-optimizations/package.json
  packages/cloudflare/test/fixtures/prerender-optimizations/src/content/config.ts
  packages/cloudflare/test/fixtures/prerender-optimizations/src/content/posts/sample.md
  packages/cloudflare/test/fixtures/prerender-optimizations/src/env.d.ts
  packages/cloudflare/test/fixtures/prerender-optimizations/src/pages/on-demand.astro
  packages/cloudflare/test/fixtures/prerender-optimizations/src/pages/prerender.astro
  pnpm-lock.yaml
Labels: pkg: cloudflare, docs pr, upstream

#238 fix(cloudflare): dynamic-imports-analyzer
  .changeset/sweet-avocados-trade.md
  packages/cloudflare/package.json
  packages/cloudflare/src/index.ts
  packages/cloudflare/src/utils/index.ts
  pnpm-lock.yaml
Labels: pkg: cloudflare, docs pr

#241 fix(cloudflare): removes log
  .changeset/shaggy-geckos-jam.md
  packages/cloudflare/src/utils/index.ts
Labels: pkg: cloudflare, docs pr

#243 fix(cloudflare): don't cleanup client bundle
  .changeset/silent-kings-matter.md
  packages/cloudflare/src/index.ts
  packages/cloudflare/src/utils/index.ts
  packages/cloudflare/src/utils/non-server-chunk-detector.ts
Labels: pkg: cloudflare, docs pr

#247 fix(cloudflare): routes.json order
  .changeset/thirty-apricots-marry.md
  packages/cloudflare/src/utils/generate-routes-json.ts
  packages/cloudflare/test/routes-json.test.js
Labels: pkg: cloudflare, docs pr
