Repository withastro/adapters, pull requests merged in 2024-02, with the labels that each got.

#143 fix(netlify): pre-rendered 404 pages aren't shown
  .changeset/serious-kids-suffer.md
  packages/netlify/src/index.ts
  packages/netlify/src/ssr-function.ts
  packages/netlify/test/functions/cookies.test.js
  packages/netlify/test/functions/fixtures/cookies/src/pages/404.astro
  packages/netlify/test/functions/fixtures/redirects/src/pages/404.astro
  packages/netlify/test/functions/redirects.test.js
Labels: docs pr, pkg: netlify

#152 feat(netlify): verification for edge middleware
  .changeset/odd-shoes-talk.md
  packages/netlify/src/index.ts
  packages/netlify/src/ssr-function.ts
  packages/netlify/test/functions/fixtures/split-support/src/env.d.ts
Labels: docs pr, pkg: netlify

#150 chore(cloudflare): use Node.js for testing
  packages/cloudflare/package.json
  packages/cloudflare/test/dev-runtime-pages.test.js
  packages/cloudflare/test/directory-mode.test.js
  packages/cloudflare/test/exteral-image-service.test.js
  packages/cloudflare/test/fixtures/dev-runtime-pages/astro.config.ts
  packages/cloudflare/test/fixtures/dev-runtime-pages/wrangler.toml
  packages/cloudflare/test/fixtures/with-solid-js/src/env.d.ts
  packages/cloudflare/test/function-per-route.test.js
  packages/cloudflare/test/hybrid.test.js
  packages/cloudflare/test/no-output.test.js
  packages/cloudflare/test/prerender.test.js
  packages/cloudflare/test/routes-json.test.js
  packages/cloudflare/test/wasm-directory.test.js
  packages/cloudflare/test/wasm-function-per-route.test.js
  packages/cloudflare/test/wasm.test.js
  packages/cloudflare/test/with-solid-js.test.js
  packages/cloudflare/test/wrangler-runtime.test.js
  packages/cloudflare/test/z-dev-runtime-pages.test.js
  pnpm-lock.yaml
  scripts/cmd/test.js
  scripts/index.js
  scripts/package.json
Labels: pkg: cloudflare

#162 fix(netlify): serve prerendered 404 page with content-type: text/html
  .changeset/large-fireants-wink.md
  packages/netlify/src/ssr-function.ts
  packages/netlify/test/functions/redirects.test.js
Labels: docs pr, pkg: netlify

#160 fix(netlify): consider main fields when bundling
  .changeset/red-trains-tease.md
  packages/cloudflare/package.json
  packages/cloudflare/test/fixtures/dev-runtime-pages/package.json
  packages/cloudflare/test/fixtures/dev-runtime-workers/package.json
  packages/cloudflare/test/fixtures/directory-mode/package.json
  packages/cloudflare/test/fixtures/external-image-service/package.json
  packages/cloudflare/test/fixtures/function-per-route/package.json
  packages/cloudflare/test/fixtures/hybrid/package.json
  packages/cloudflare/test/fixtures/no-output/package.json
  packages/cloudflare/test/fixtures/prerender/package.json
  packages/cloudflare/test/fixtures/routes-json/package.json
  packages/cloudflare/test/fixtures/wasm-directory/package.json
  packages/cloudflare/test/fixtures/wasm-function-per-route/package.json
  packages/cloudflare/test/fixtures/wasm/package.json
  packages/cloudflare/test/fixtures/with-solid-js/package.json
  packages/cloudflare/test/fixtures/wrangler-runtime/package.json
  packages/netlify/package.json
  packages/netlify/src/index.ts
  packages/netlify/test/functions/edge-middleware.test.js
  packages/netlify/test/hosted/hosted-astro-project/package.json
  packages/test-utils/package.json
  pnpm-lock.yaml
Labels: pkg: cloudflare, docs pr, pkg: netlify

#158 chore(netlify): use Node.js for testing
  packages/netlify/package.json
  packages/netlify/test/functions/cookies.test.js
  packages/netlify/test/functions/edge-middleware.test.js
  packages/netlify/test/functions/image-cdn.test.js
  packages/netlify/test/functions/redirects.test.js
  packages/netlify/test/functions/redirects.test.js.snap
  packages/netlify/test/hosted/hosted.test.js
  packages/netlify/test/setup.js
  packages/netlify/test/static/redirects.test.js
  pnpm-lock.yaml
Labels: pkg: netlify

#168 fix(cloudflare): error if cacheDir already exists
  .changeset/eleven-books-push.md
  packages/cloudflare/src/utils/local-runtime.ts
Labels: pkg: cloudflare, docs pr

#163 fix(netlify): replace `global.crypto` with `crypto`
  .changeset/young-ravens-hammer.md
  packages/netlify/src/index.ts
Labels: docs pr, pkg: netlify

#171 fix(cloudflare): _routes.json deduplication
  .changeset/sharp-cameras-rescue.md
  packages/cloudflare/src/utils/deduplicatePatterns.ts
  packages/cloudflare/test/routes-json.test.js
Labels: pkg: cloudflare, docs pr
