Repository withastro/adapters, pull requests merged in 2024-06, with the labels that each got.

#251 feat(cloudflare): Add support for `txt` and `bin` cloudflare specific module types
  .changeset/proud-jeans-wave.md
  packages/cloudflare/src/index.ts
  packages/cloudflare/src/utils/cloudflare-module-loader.ts
  packages/cloudflare/test/fixtures/module-loader/astro.config.mjs
  packages/cloudflare/test/fixtures/module-loader/package.json
  packages/cloudflare/test/fixtures/module-loader/src/env.d.ts
  packages/cloudflare/test/fixtures/module-loader/src/pages/add/[a]/[b].ts
  packages/cloudflare/test/fixtures/module-loader/src/pages/bin.ts
  packages/cloudflare/test/fixtures/module-loader/src/pages/compound.ts
  packages/cloudflare/test/fixtures/module-loader/src/pages/hybrid.ts
  packages/cloudflare/test/fixtures/module-loader/src/pages/hybridshared.ts
  packages/cloudflare/test/fixtures/module-loader/src/pages/shared/[a]/[b].ts
  packages/cloudflare/test/fixtures/module-loader/src/pages/text.ts
  packages/cloudflare/test/fixtures/module-loader/src/util/add.ts
  packages/cloudflare/test/fixtures/module-loader/src/util/add.wasm
  packages/cloudflare/test/fixtures/module-loader/src/util/file.1.md.txt
  packages/cloudflare/test/fixtures/module-loader/src/util/file.bin
  packages/cloudflare/test/fixtures/module-loader/src/util/file.txt
  packages/cloudflare/test/module-loader.test.js
  pnpm-lock.yaml
Labels: pkg: cloudflare, docs pr

#275 feat(netlify): support astro:env
  .changeset/good-dolls-act.md
  packages/cloudflare/package.json
  packages/cloudflare/src/utils/non-server-chunk-detector.ts
  packages/netlify/package.json
  packages/netlify/src/index.ts
  packages/netlify/src/ssr-function.ts
  packages/test-utils/test-utils.js
  pnpm-lock.yaml
Labels: pkg: cloudflare, docs pr, pkg: netlify

#258 feat(cloudflare): support astro:env
  .changeset/purple-trainers-drive.md
  packages/cloudflare/.gitignore
  packages/cloudflare/package.json
  packages/cloudflare/src/entrypoints/server.ts
  packages/cloudflare/src/index.ts
  packages/cloudflare/src/utils/env.ts
  packages/cloudflare/test/astro-env.test.js
  packages/cloudflare/test/fixtures/astro-env/.dev.vars
  packages/cloudflare/test/fixtures/astro-env/astro.config.ts
  packages/cloudflare/test/fixtures/astro-env/package.json
  packages/cloudflare/test/fixtures/astro-env/src/env.d.ts
  packages/cloudflare/test/fixtures/astro-env/src/pages/index.astro
  packages/cloudflare/test/fixtures/astro-env/tsconfig.json
  packages/cloudflare/test/fixtures/astro-env/wrangler.toml
  packages/netlify/src/types.d.ts
  pnpm-lock.yaml
Labels: pkg: cloudflare, docs pr, pkg: netlify

#282 fix: backward compatibility Astro <= 4.9
  .changeset/twenty-terms-bathe.md
  packages/cloudflare/package.json
  packages/cloudflare/src/entrypoints/server.ts
  packages/cloudflare/test/astro-env.test.js
  packages/cloudflare/test/fixtures/astro-env/package.json
  packages/netlify/src/ssr-function.ts
  pnpm-lock.yaml
Labels: pkg: cloudflare, pkg: netlify

#292 feat(cloudflare): remove experimental support for astro:env
  .changeset/large-balloons-play.md
  packages/cloudflare/src/entrypoints/server.ts
  packages/cloudflare/src/index.ts
  packages/cloudflare/src/utils/env.ts
Labels: pkg: cloudflare

#293 fix(netlify): astro:env getSecret
  .changeset/hot-swans-doubt.md
  packages/netlify/src/index.ts
  packages/netlify/src/ssr-function.ts
Labels: pkg: netlify

#290 Cloudflare v11
  .changeset/fresh-walls-bow.md
  packages/cloudflare/package.json
  packages/cloudflare/src/entrypoints/server.ts
  packages/cloudflare/src/index.ts
  packages/cloudflare/src/utils/cloudflare-module-loader.ts
  packages/cloudflare/src/utils/env.ts
  packages/cloudflare/src/utils/index.ts
  packages/cloudflare/test/astro-env.test.js
  packages/cloudflare/test/exclude-prerender-only-chunks.test.js
  packages/cloudflare/test/external-image-service.test.js
  packages/cloudflare/test/fixtures/astro-env/astro.config.ts
  packages/cloudflare/test/fixtures/astro-env/package.json
  packages/cloudflare/test/fixtures/astro-env/src/pages/index.astro
  packages/cloudflare/test/fixtures/astro-env/wrangler.toml
  packages/cloudflare/test/fixtures/prerender-optimizations/.gitignore
  packages/cloudflare/test/fixtures/prerender-optimizations/astro.config.ts
  packages/cloudflare/test/fixtures/prerender-optimizations/package.json
  packages/cloudflare/test/fixtures/prerender-optimizations/src/content/config.ts
  packages/cloudflare/test/fixtures/prerender-optimizations/src/content/posts/sample.md
  packages/cloudflare/test/fixtures/prerender-optimizations/src/env.d.ts
  packages/cloudflare/test/fixtures/prerender-optimizations/src/pages/on-demand.astro
  packages/cloudflare/test/fixtures/prerender-optimizations/src/pages/prerender.astro
  pnpm-lock.yaml
Labels: pkg: cloudflare

#302 fix(cloudflare): wrangler.toml error
  .changeset/old-dolls-double.md
  packages/cloudflare/src/index.ts
Labels: pkg: cloudflare

#296 perf(netlify): handle dependency tracing for SSR function
  .changeset/thick-kids-sing.md
  packages/netlify/package.json
  packages/netlify/src/functions.ts
  packages/netlify/src/index.ts
  packages/netlify/src/lib/nft.ts
  packages/netlify/test/functions/cookies.test.js
  packages/netlify/test/functions/edge-middleware.test.js
  packages/netlify/test/functions/image-cdn.test.js
  packages/netlify/test/functions/redirects.test.js
  pnpm-lock.yaml
Labels: pkg: netlify
