Repository withastro/adapters, pull requests merged in 2024-01, with the labels that each got.

#120 [netlify] allow opting out of Image CDN
  .changeset/slimy-donuts-lick.md
  packages/netlify/src/index.ts
  packages/netlify/test/functions/fixtures/middleware/astro.config.mjs
  packages/netlify/test/functions/fixtures/middleware/src/astronaut.jpg
  packages/netlify/test/functions/fixtures/middleware/src/pages/astronaut.astro
  packages/netlify/test/functions/image-cdn.test.js
Labels: docs pr, pkg: netlify

#122 Bumped miniflare version to avoid CVE-2023-7078
  .changeset/cold-meals-roll.md
  packages/cloudflare/package.json
  pnpm-lock.yaml
Labels: pkg: cloudflare, docs pr

#124 Revert "Bumped miniflare version to avoid CVE-2023-7078"
  .changeset/cold-meals-roll.md
  packages/cloudflare/package.json
  pnpm-lock.yaml
Labels: pkg: cloudflare, docs pr

#125 Bumped miniflare version to avoid CVE-2023-7078
  .changeset/cold-meals-roll.md
  packages/cloudflare/package.json
  pnpm-lock.yaml
Labels: pkg: cloudflare, docs pr

#127 fix(netlify): only cache GET/HEAD methods
  .changeset/dry-rules-bathe.md
  packages/netlify/src/ssr-function.ts
Labels: docs pr, pkg: netlify

#130 fix: updates to use the new app.render call signature
  .changeset/curly-oranges-end.md
  packages/cloudflare/package.json
  packages/cloudflare/src/entrypoints/server.advanced.ts
  packages/cloudflare/src/entrypoints/server.directory.ts
  packages/netlify/package.json
  packages/netlify/src/ssr-function.ts
Labels: pkg: cloudflare, docs pr, pkg: netlify

#132 updates Astro core version
  .changeset/curly-oranges-end.md
  packages/cloudflare/package.json
  packages/cloudflare/test/fixtures/dev-runtime-pages/package.json
  packages/cloudflare/test/fixtures/dev-runtime-workers/package.json
  packages/cloudflare/test/fixtures/directory-mode/package.json
  packages/cloudflare/test/fixtures/external-image-service/package.json
  packages/cloudflare/test/fixtures/function-per-route/package.json
  packages/cloudflare/test/fixtures/hybrid/package.json
  packages/cloudflare/test/fixtures/no-output/package.json
  packages/cloudflare/test/fixtures/prerender/package.json
  packages/cloudflare/test/fixtures/routes-json/package.json
  packages/cloudflare/test/fixtures/wasm-directory/package.json
  packages/cloudflare/test/fixtures/wasm-function-per-route/package.json
  packages/cloudflare/test/fixtures/wasm/package.json
  packages/cloudflare/test/fixtures/with-solid-js/package.json
  packages/cloudflare/test/fixtures/wrangler-runtime/package.json
  packages/netlify/test/functions/fixtures/middleware/package.json
  pnpm-lock.yaml
Labels: pkg: cloudflare, docs pr, pkg: netlify

#138 chore: add changeset for netlify
  .changeset/seven-comics-act.md
Labels: docs pr

#139 chore: bump astro version
  .changeset/curly-oranges-end.md
  .changeset/seven-comics-act.md
  packages/netlify/package.json
  packages/netlify/test/hosted/hosted-astro-project/package.json
  packages/test-utils/package.json
  pnpm-lock.yaml
Labels: docs pr, pkg: netlify

#137 fix(cloudflare): duplicate patterns in `_routes.json`
  .changeset/big-ads-care.md
  packages/cloudflare/src/index.ts
  packages/cloudflare/src/utils/deduplicatePatterns.ts
  packages/cloudflare/test/routes-json.test.js
Labels: pkg: cloudflare, docs pr
