Repository withastro/adapters, pull requests merged in 2024-09, with the labels that each got.

#381 Set the workspace root when doing nft scan
  .changeset/rich-lies-greet.md
  packages/netlify/package.json
  packages/netlify/src/index.ts
  packages/netlify/src/lib/nft.ts
  packages/vercel/src/lib/nft.ts
  packages/vercel/src/lib/searchRoot.ts
  packages/vercel/src/serverless/adapter.ts
  pnpm-lock.yaml
Labels: pkg: netlify, pkg: vercel

#388 fix: allow `-` in hostnames for Netlify Image CDN
  .changeset/orange-countries-scream.md
  packages/netlify/src/index.ts
Labels: pkg: netlify

#385 chore(next): astro:env cleanup
  .changeset/sixty-trainers-shout.md
  packages/netlify/src/index.ts
  packages/netlify/src/polyfill.ts
  packages/netlify/src/ssr-function.ts
  packages/node/src/index.ts
  packages/node/src/polyfill.ts
  packages/node/src/server.ts
  packages/vercel/src/serverless/adapter.ts
  packages/vercel/src/serverless/entrypoint.ts
  packages/vercel/src/serverless/polyfill.ts
Labels: pkg: netlify

#392 feat: update adapters supported features to account for new shape for Astro 5
  .changeset/sweet-geckos-double.md
  packages/cloudflare/src/index.ts
  packages/netlify/src/index.ts
  packages/node/src/index.ts
  packages/vercel/src/serverless/adapter.ts
  packages/vercel/src/static/adapter.ts
Labels: pkg: cloudflare, pkg: netlify

#387 Added windows support for static files
  .changeset/weak-steaks-hang.md
  packages/cloudflare/src/utils/generate-routes-json.ts
Labels: pkg: cloudflare

#384 Remove vercel speedInsights option
  .changeset/silver-lemons-bow.md
  packages/vercel/package.json
  packages/vercel/src/lib/speed-insights.ts
  packages/vercel/src/serverless/adapter.ts
  packages/vercel/src/speed-insights.ts
  packages/vercel/src/static/adapter.ts
  packages/vercel/test/fixtures/with-speed-insights-enabled/output-as-server/astro.config.mjs
  packages/vercel/test/fixtures/with-speed-insights-enabled/output-as-server/package.json
  packages/vercel/test/fixtures/with-speed-insights-enabled/output-as-server/src/pages/one.astro
  packages/vercel/test/fixtures/with-speed-insights-enabled/output-as-server/src/pages/two.astro
  packages/vercel/test/fixtures/with-speed-insights-enabled/output-as-static/astro.config.mjs
  packages/vercel/test/fixtures/with-speed-insights-enabled/output-as-static/package.json
  packages/vercel/test/fixtures/with-speed-insights-enabled/output-as-static/src/pages/one.astro
  packages/vercel/test/fixtures/with-speed-insights-enabled/output-as-static/src/pages/two.astro
  packages/vercel/test/speed-insights.test.js
  pnpm-lock.yaml
Labels: pkg: vercel

#394 Reduce amount of rules in routes json file
  .changeset/twenty-deers-wink.md
  packages/cloudflare/src/utils/generate-routes-json.ts
  packages/cloudflare/test/fixtures/routes-json/src/reduceComplexity/env.d.ts
  packages/cloudflare/test/fixtures/routes-json/src/reduceComplexity/pages/404.astro
  packages/cloudflare/test/fixtures/routes-json/src/reduceComplexity/pages/dynamicPages/dynamic1.astro
  packages/cloudflare/test/fixtures/routes-json/src/reduceComplexity/pages/dynamicPages/dynamic2.astro
  packages/cloudflare/test/fixtures/routes-json/src/reduceComplexity/pages/dynamicPages/dynamic3.astro
  packages/cloudflare/test/fixtures/routes-json/src/reduceComplexity/pages/index.astro
  packages/cloudflare/test/fixtures/routes-json/src/reduceComplexity/pages/mixedPages/dynamic.astro
  packages/cloudflare/test/fixtures/routes-json/src/reduceComplexity/pages/mixedPages/static.astro
  packages/cloudflare/test/fixtures/routes-json/src/reduceComplexity/pages/mixedPages/subfolder/dynamic.astro
  packages/cloudflare/test/fixtures/routes-json/src/reduceComplexity/pages/mixedPages/subfolder/static.astro
  packages/cloudflare/test/fixtures/routes-json/src/reduceComplexity/pages/staticPages/static1.astro
  packages/cloudflare/test/fixtures/routes-json/src/reduceComplexity/pages/staticPages/static2.astro
  packages/cloudflare/test/fixtures/routes-json/src/reduceComplexity/pages/staticPages/static3.astro
  packages/cloudflare/test/routes-json.test.js
Labels: pkg: cloudflare
