Repository withastro/adapters, pull requests merged in 2025-01, with the labels that each got.

#496 feat(cloudflare,netlify): stabilize astro:env secrets support
  .changeset/brown-coats-dance.md
  packages/cloudflare/src/index.ts
  packages/netlify/src/index.ts
Labels: pkg: cloudflare, pkg: netlify

#506 Remove internal vue handling in cloudflare integration
  .changeset/metal-shirts-bake.md
  packages/cloudflare/src/index.ts
Labels: pkg: cloudflare

#508 fix(vercel): copy static assets after all integrations
  .changeset/fluffy-icons-beg.md
  packages/vercel/src/index.ts
  packages/vercel/test/fixtures/integration-assets/astro.config.mjs
  packages/vercel/test/fixtures/integration-assets/package.json
  packages/vercel/test/fixtures/integration-assets/src/pages/one.astro
  packages/vercel/test/fixtures/integration-assets/src/pages/two.astro
  packages/vercel/test/integration-assets.test.js
  pnpm-lock.yaml
Labels: pkg: vercel

#514 fix: correctly handle wildcard hosts in preview
  .changeset/big-islands-add.md
  packages/node/src/log-listening-on.ts
  packages/node/src/preview.ts
  packages/node/src/standalone.ts
Labels: pkg: node

#516 fix(vercel): handle integration static assets in non-static sites
  .changeset/loud-snails-float.md
  packages/vercel/src/index.ts
  packages/vercel/test/integration-assets.test.js
Labels: pkg: vercel

#518 chore(node): add tests for preview host
  packages/node/test/preview-host.test.js
Labels: pkg: node

#519 fix(vercel): update middleware esbuild settings
  .changeset/grumpy-phones-explode.md
  packages/vercel/src/serverless/middleware.ts
  packages/vercel/test/fixtures/middleware-with-edge-file/src/middleware.js
Labels: pkg: vercel

#525 fix: use vercel routing utils
  .changeset/tidy-walls-check.md
  packages/vercel/package.json
  packages/vercel/src/index.ts
  packages/vercel/src/lib/redirects.ts
  packages/vercel/test/isr.test.js
  packages/vercel/test/prerendered-error-pages.test.js
  packages/vercel/test/redirects.test.js
  packages/vercel/test/static.test.js
  pnpm-lock.yaml
Labels: pkg: vercel
